<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Game</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>


<body class="bg-gray-100 flex justify-center items-center min-h-screen">
    <div class="p-6 bg-white shadow-md rounded-lg text-center">
        <h1 class="text-4xl font-bold mb-6">{{ en_prompt }}</h1>

        <form method="POST" action="/submit_answer">
            <div class="flex flex-col max-w-md gap-2 items-center">
                <!-- Loop through answer options to create buttons -->
                {% for option in answer_options %}
                <button class="btn btn-lg btn-primary w-full text-3xl" type="submit" name="selected_answer"
                    value="{{ option }}">
                    {{ option }}
                </button>
                {% endfor %}
            </div>
            <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
            <input type="hidden" name="wrong_count" id="wrongCount" value="0">
        </form>
    </div>

    <script>
        // Initialize counter for wrong answers
        let wrongAnswerCount = 0;

        // JavaScript to handle wrong answers before form submission
        document.querySelectorAll('button[type="submit"]').forEach(button => {
            button.addEventListener('click', function (event) {
                const selectedAnswer = button.value;
                const correctAnswer = "{{ correct_answer }}";

                if (selectedAnswer !== correctAnswer) {
                    event.preventDefault();  // Prevent form submission
                    wrongAnswerCount++;
                    document.getElementById('wrongCount').value = wrongAnswerCount;
                    button.classList.add('bg-red-500');
                }

                // make green if its correct answer
                // (will likely be only for a split second before page reload but oh well)
                if (selectedAnswer === correctAnswer) {
                    button.classList.add('bg-green-500');
                }
            });
        });
    </script>
</body>

</html>